{% extends "layout.html" %}
{% block content %}
<form action="/oscars/new" method="POST">
    <div class="row">
        <div class="col">
            <label for="fldIndex">Index Number</label>
            <input id="fldIndex" type="text" class="form-control" placeholder="Index Number" name="fldIndex">
        </div>
        <div class="col">
            <label for="fldYear">Year</label>
            <input id="fldYear" type="text" class="form-control" placeholder="Year"
                   name="fldYear">
        </div>
        <div class="col">
            <label for="fldAge">Age</label>
            <input id="fldAge" type="text" class="form-control" placeholder="Age" name="fldAge">
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label for="fldName">Name</label>
            <input id="fldName" type="text" class="form-control" placeholder="Name" name="fldName">
        </div>
        <div class="col">
            <label for="fldMovie">Movie</label>
            <input id="fldMovie" type="text" class="form-control" placeholder="Movie" name="fldMovie">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="fldColumn_6">Column_6</label>

            <input id="fldColumn_6" type="text" class="form-control" placeholder="Column_6 "
                   name="fldColumn_6">
        </div>
    </div>
    <button type="submit" class="btn btn-success">Success</button>

</form>

{% endblock %}